*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


body {
   font-family: "Quicksand", sans-serif;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #edf1f1
}



.container {
   margin-left: 20px;
   margin-right: 20px;
   align-items: center;
   width: 600px;
   height: 650px;
   min-height: 400px;
   padding: 50px;
   background: rgba(255, 255, 255, 0.435);
   border: 2px solid #1E2B3F;
   box-shadow: 4px 4px 0 #1E2B3F;
   border-radius: 25px;
   backdrop-filter: blur(15px);
}

h1 {
   font-family: "Poppins", sans-serif;
   font-weight: 800;
   letter-spacing: .2rem;
   color: #393838;
   text-align: center;
   margin: 36px;
}


.input-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 20px;
}


.todo-input {
   flex: 1; 
   width: auto;
   max-width: 450px;
   min-width: 150px;
   outline: none;
   padding: 10px 10px 10px 30px;
   border-radius: 20px;
   margin-right: 16px;
}

.todo-input::placeholder {
   color: #393838;
}

.add-button {
   border: none;
   outline: none;
   color: #393838;
   font-size: 30px;
   cursor: pointer;
   border-radius: 100px;
   width: 30px;
   height: 30px;
   margin: 11px 0; /* Provide vertical spacing between elements */


}

/* STYLING FOR FILTER BUTTONS */
.filters {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 0;
}

.filter-complete {
   padding: 1rem 1rem;
   border-radius: 10em;
   border: 2px solid #60AB9A;
   cursor: pointer;
   font-size: 12px;
   font-family: inherit;
   vertical-align: middle;
   text-decoration: none;
   background: #f7fff0;
   color: #382b22;
   font-weight: 600;
   text-transform: uppercase;
   transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   transform-style: preserve-3d;
}

.filter-pending {
   padding: 1rem 1rem;
   border-radius: 10em;
   border: 2px solid #f8a37c;
   cursor: pointer;
   font-size: 12px;
   font-family: inherit;
   vertical-align: middle;
   text-decoration: none;
   background: #fff0f0;
   color: #382b22;
   font-weight: 600;
   text-transform: uppercase;
   transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   transform-style: preserve-3d;
}

.delete-all {
   padding: 1rem 1rem;
   border-radius: 10em;
   border: 2px solid #fa9999;
   cursor: pointer;
   font-size: 12px;
   font-family: inherit;
   vertical-align: middle;
   text-decoration: none;
   background: #f6d7d7;
   color: #382b22;
   font-weight: 600;
   text-transform: uppercase;
   transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
   transform-style: preserve-3d;
}

.filter-complete:hover {
   background: #60AB9A;
   transform: translate(0, 0.25em);
}

.filter-complete:active {
   background: #60AB9A;
   transform: translate(0em, 0.75em);
}

.filter-pending:hover {
   background: #f8a37c;
   transform: translate(0, 0.25em);
}

.filter-pending:active {
   background: #f8a37c;
   transform: translate(0em, 0.75em);
}



.delete-all:hover {
   background: #fa9999;
   transform: translate(0, 0.25em);
}

.delete-all:active {
   background: #f7cccc;
   transform: translate(0em, 0.75em);
}

.empty-image {
   width: 400px;
   height: auto;
   display: block;
   margin: auto;
}

/* STYLING FOR TODO LIST */
.todos-container {
   width: 500px;
   margin-top: 20px;
   position: relative;
   height: 280px;
   overflow: overlay;
   padding-right: 10px;
}

.todos {
   list-style-type: none;
   padding-left: 0;
}

.todo {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-color: rgb(255, 255, 255);
   margin: 10px 0;
   padding: 10px 12px;
   border-radius: 10px;
   transition: all 0.2s ease;
   position: relative;  /* Important for positioning the delete icon absolutely within this context */

}

.todo:hover {
   cursor: pointer;
   background-color: #0000000e;
}

.todo label {
   cursor: pointer;
   display: flex;
   align-items: center;
   color: #393838;
}

.todo span {
   padding-left: 20px;
   position: relative;
   cursor: pointer;
}

input[type='checkbox']:checked + span {
   text-decoration: line-through;
}

/* CUSTOM CHECKBOX STYLING */

input[type="checkbox"] {
   width: 1em;
   height: 1rem;
   accent-color: #60AB9A;
 }


/* CUSTOM DELETE ITEM STYLING */

.delete-btn {
   display: contents;
}

/* Custom delete item styling */
.todo .fa.fa-times {
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   color: #fb6f6f91;
   cursor: pointer;
   font-size: 20px;
   transition: color 0.3s ease;
}

.todo .fa.fa-times:hover {
   color: #f9000090;
}

.todo {
   position: relative;
   padding-right: 40px; /* Add padding to make room for the icon */
}




/* Mobile Responsiveness */
@media (max-width: 768px) {

   .container {
         width: 100%; /* Full width for small screens */
         padding: 20px; /* Ensures at least 20px padding on smaller screens */
         margin-left: 20px; /* Add margin if needed for overall layout */
         margin-right: 20px; /* Add margin if needed for overall layout */
     }

     .filter-pending, .filter-complete, .delete-all {
       padding: 0.5rem 1rem; /* Smaller padding for compact appearance */
       margin: 5px; /* Smaller margin to reduce space between buttons */
       font-size: 10px; /* Smaller font size for better fit on small screens */
   }

   .todo-input, .todos-container {
       width: 100%; /* Ensures inputs and containers take full available width */
       margin-left: 10px;
       margin-right: 10px;
   }

   .todos-container {
      height: 230px;
   }
      
   .add-button {
       width: 50px; /* Slightly larger button for easier interaction */
       height: 50px; /* Adjust height for better accessibility */
       margin: 11px 0; /* Provide vertical spacing between elements */
   }
   .empty-image {
      width: 200px;
      height: auto;
      display: block;
      margin: auto;
   }

}



/* OLD BUTTON STYLING

.filters {
   cursor: default;
   display: flex;
   justify-content: space-between;
}


.filter {
   padding: 5px 15px;
   border-radius: 100px;
   border: 2px solid grey;

}

.delete-all {
   padding: 5px 15px;
   border-radius: 100px;
   border: 2px solid grey;
}

.filter.active, .filter:hover {
   background-color:rgb(28, 28, 28);
   color: whitesmoke;
}



.delete-all:hover {
   background-color:palevioletred;
   color: whitesmoke;
}

*/

